<div class="dropdown">
  <button
    class="btn btn-outline-primary dropdown-toggle w-100"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <ng-container *ngIf="!selected"> Select a Group </ng-container>
    <ng-container *ngIf="selected"> {{ selected }} </ng-container>
  </button>

  <ul class="dropdown-menu w-100">
    <li *ngFor="let item of value">
      <a class="dropdown-item" (click)="click(item)">{{ item.name }}</a>
    </li>
  </ul>
</div>
<!-- 
<div class="dropdown btn-select-search" *ngIf="isSearch">
  <button
    class="btn-select-search dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <ng-container *ngIf="!selected"> Select a Group </ng-container>
    <ng-container *ngIf="selected"> {{ selected }} </ng-container>
  </button>

  <ul class="dropdown-menu w-100">
    <li *ngFor="let item of value">
      <a class="dropdown-item" (click)="click(item)">{{ item.name }}</a>
    </li>
  </ul>
</div> -->
