<div class="btn-select">
  <button
    class="btn-select-fill dropdown-toggle w-100"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <ng-container *ngIf="!selectedName"> Select a Group </ng-container>
    <ng-container *ngIf="selectedName"> {{ selectedName }} </ng-container>
  </button>

  <ul class="dropdown-menu w-100">
    <li>
      <form class="px-3 py-2">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="precisionInput"
            [(ngModel)]="precisionValue"
            name="precisionInput"
            (input)="filterValue()"
          />
        </div>
      </form>
    </li>
    <li *ngFor="let item of filteredValue">
      <a class="dropdown-item" (click)="click(item)">{{ item.name }}</a>
    </li>
  </ul>
</div>
