.btn-view {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  background-color: white;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

.btn-view:hover {
  background-color: #3498db;
  color: white;
}
