.toast-success {
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.toast-error {
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.toast-edit {
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  background-color: yellow;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
